{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% progressive_web_app_meta %}
    <script>
      // Immediately invoked function to set the theme
      (function() {
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      })();
    </script>

    <title>Social Media App</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          darkMode: 'class',
          // ... any other configurations
        }
      </script>
    

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

    <script>
        console.log("Confetti library loaded:", typeof confetti);
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .content-wrapper {
            margin-left: 20%;
            margin-right: 20%;
        }
        @media (max-width: 1024px) {
            .content-wrapper {
                margin-left: 0;
                margin-right: 0;
            }
        }
        body {
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        #particles-js {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            /* z-index: 1; */
        }
        .tagify__input{
            padding-left: 10px;
        }
        #mainContent {
            overflow: scroll;
            scrollbar-width: none; /* For Firefox */
        }

        #mainContent::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Opera */
        }

    </style>
    {% block styles %}
    {% endblock %}
</head>
<!-- custom scroll bar styles -->
<style>
  /* Styling for webkit browsers (Chrome, Safari, newer versions of Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Hide scrollbar when not scrolling */
.custom-scrollbar:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.custom-scrollbar:not(:hover) {
    scrollbar-color: transparent transparent;
}
</style>
<body class="bg-gray-100 dark:bg-gray-950 dark:text-white relative overflow-hidden">
    <div id="particles-js" class="fixed inset-0 "></div>
    <div class="relative z-10 min-h-screen backdrop-blur-lg">
    <!-- Navbar -->
    <nav class="bg-white dark:bg-gray-900 shadow p-4 fixed top-0 left-0 right-0 z-20 dark:text-white">
      <div class="container mx-auto flex items-center justify-between">
          <div class="text-xl font-semibold">
              <a href="#">BrandName</a>
          </div>
          <div class="flex items-center space-x-4 relative">
              <button id="notifyToggle" class="p-2 rounded-full relative">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                  </svg>
                  {% if unread_notifications_count > 0 %}
                  <span class="bg-red-500 text-white absolute top-0 right-0 -mt-1 -mr-1 rounded-full w-5 h-5 flex items-center justify-center text-xs">{{ unread_notifications_count }}</span>
                  {% endif %}
              </button>
  
              <!-- Settings Button -->
              <button id="settingsToggle" class="p-2 rounded-full">
                <i class="fa-solid fa-sliders"></i>
              </button>
          </div>
      </div>
  </nav>
  
<!-- Settings Modal -->
<div id="settingsModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 hidden">
  <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-sm md:max-w-md">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Settings</h2>
      <button id="closeSettings" class="text-gray-600 dark:text-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mb-4">
      <label for="themeSwitch" class="flex items-center cursor-pointer">
        <span class="mr-2">Theme:</span>
        <select id="themeSwitch" class="bg-gray-200 dark:bg-gray-700 rounded p-2">
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      </label>
    </div>
    <button id="logoutButton" onclick="location.href=`{% url 'logout' %}`" class="bg-red-500 text-white py-2 px-4 rounded w-full mt-2">Logout</button>

  </div>
</div>


  
  <script>
      // Toggle Settings Modal
      document.getElementById('settingsToggle').addEventListener('click', function() {
          document.getElementById('settingsModal').classList.toggle('hidden');
      });
  
      // Close Settings Modal
      document.getElementById('closeSettings').addEventListener('click', function() {
          document.getElementById('settingsModal').classList.add('hidden');
      });
  

  </script>
  
    
    
    <div class="flex h-screen pt-20">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}

        <!-- Main Content -->
        <div class="content-wrapper flex-1 overflow-y-auto p-6 lg:ml-[14%] {% if request.path != '/explore/' %} lg:mr-[24%] {% endif %} lg:pl-20 lg:pr-20 mb-8 lg:mb-2 transition-all duration-300" id="mainContent">
            

            
            
            {% block start %}

            {% endblock %}
            

        <!-- Right Sidebar -->
        {% include 'right_bar.html' %}
          <!-- Notification Box -->
        {% include 'notifybox.html' %}
        {% include 'notify.html' %}
      </div>
        
<!-- Bottom Navigation Bar -->
<div class="fixed bottom-0 left-0 right-0 bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-500 z-20 lg:hidden">
  <nav class="flex justify-around py-3 safe-area-inset-bottom">
      <a href="{% url 'home' %}" class="icon flex items-center justify-center w-full text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-solid fa-house {% if request.path == '/' %}text-gray-900 dark:text-white{% endif %}"></i>
      </a>
      {% url 'explore' as explore_url %}
      {% url 'profile' username=user.username as current_user_profile_url %}
      <a href="{{ explore_url }}" class="icon flex items-center justify-center w-full text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-solid fa-magnifying-glass {% if request.path == '/explore/' or request.path|slice:":3" == '/p/' and request.path != current_user_profile_url %}text-gray-900 dark:text-white{% endif %}"></i>
      </a>
      <button onclick="openPostModal()" class="icon flex items-center justify-center w-full text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
        <i class="fa-solid fa-square-plus"></i>
    </button>
      <a href="{% url 'chat' %}" class="icon flex items-center justify-center w-full text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
          <i class="fa-solid fa-inbox {% if request.path == '/chat/' %}text-gray-900 dark:text-white{% endif %}"></i>
      </a>
      {% url 'profile' username=user.username as profile_url %}
      <a href="{{ profile_url }}" class="icon flex items-center justify-center w-full text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
        <img src="{{ current_profile_picture_url|default:'https://via.placeholder.com/150' }}" 
             alt="Profile Picture" 
             class="rounded-full w-8 
                    {% if request.path == profile_url %} 
                        border-2 border-gray-900 dark:border-white
                    {% else %}
                        border-none
                    {% endif %}" 
             id="pp">
    </a>
    
  </nav>
</div>

<style>
  .safe-area-inset-bottom {
      padding-bottom: env(safe-area-inset-bottom);
  }
  
  @supports not (padding: env(safe-area-inset-bottom)) {
      .safe-area-inset-bottom {
          padding-bottom: 20px;
      }
  }

  .icon {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .icon i {
      font-size: 1.75rem; /* Increased icon size */
  }

  /* Adjust the nav padding for better vertical alignment */
  .bottom-0 nav {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
  }
</style>
        
        

        


</div>
</body>
</html>
<!-- font size -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dynamicTexts = document.querySelectorAll('.dynamic-text');
        
        dynamicTexts.forEach(text => {
            adjustFontSize(text);
        });
    
        function adjustFontSize(element) {
            const caption = element.getAttribute('data-caption');
            const length = caption.length;
            
            // Define your font size ranges
            const maxFontSize = 48; // For very short text
            const minFontSize = 16; // For very long text
            const threshold = 100; // Adjust this based on your needs
            
            let fontSize;
            if (length <= threshold) {
                // Linear interpolation for shorter text
                fontSize = maxFontSize - (length / threshold) * (maxFontSize - minFontSize);
            } else {
                // For longer text, use the minimum font size
                fontSize = minFontSize;
            }
            
            // Apply the calculated font size
            element.style.fontSize = `${Math.round(fontSize)}px`;
        }
    
        // Optionally, adjust font sizes on window resize
        window.addEventListener('resize', function() {
            dynamicTexts.forEach(text => {
                adjustFontSize(text);
            });
        });
    });
    </script>

<!-- dark mode -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const themeSwitch = document.getElementById('themeSwitch');
      const html = document.documentElement;
      const emojiPicker = document.getElementById('emoji-picker');

      function setTheme(isDark) {
          if (isDark) {
              html.classList.add('dark');
              themeSwitch.value = 'dark'; // Set the dropdown to Dark
              if (emojiPicker) {
                  emojiPicker.classList.add('dark');
              }
              localStorage.theme = 'dark';
          } else {
              html.classList.remove('dark');
              themeSwitch.value = 'light'; // Set the dropdown to Light
              if (emojiPicker) {
                  emojiPicker.classList.remove('dark');
              }
              localStorage.theme = 'light';
          }
      }

      // Initialize the theme based on saved preference or system preference
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          setTheme(true);
      } else {
          setTheme(false);
      }

      // Change theme when the user selects a different option
      themeSwitch.addEventListener('change', function() {
          setTheme(themeSwitch.value === 'dark');
      });
  });
</script>


<!-- particle background -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  particlesJS('particles-js', {
    particles: {
      number: { value: 30, density: { enable: true, value_area: 800 } },
      color: { 
        value: ["#FF6B6B", "#4ECDC4", "#45B7D1", "#F9D56E", "#FF8C94", "#9B59B6", "#3498DB", "#1ABC9C"]
      },
      shape: { 
        type: "circle",
        stroke: { width: 0, color: "#000000" },
      },
      opacity: { 
        value: 0.15, 
        random: true, 
        anim: { enable: false }
      },
      size: { 
        value: 100, 
        random: true, 
        anim: { enable: true, speed: 2, size_min: 5, sync: false }
      },
      line_linked: { enable: false },
      move: {
        enable: true,
        speed: 0.8,
        direction: "none",
        random: true,
        straight: false,
        out_mode: "out",
        bounce: false,
        attract: { enable: false }
      }
    },
    interactivity: {
      detect_on: "canvas",
      events: {
        onhover: { enable: true, mode: "bubble" },
        onclick: { enable: false },
        resize: true
      },
      modes: {
        bubble: { distance: 200, size: 25, duration: 2, opacity: 0.25, speed: 3 }
      }
    },
    retina_detect: true
  });

  function updateParticleOpacity(isDark) {
    const opacity = isDark ? 0.2 : 0.15;
    pJSDom[0].pJS.particles.opacity.value = opacity;
    pJSDom[0].pJS.interactivity.modes.bubble.opacity = opacity + 0.1;
    pJSDom[0].pJS.fn.particlesRefresh();
  }

  const isDarkMode = document.documentElement.classList.contains('dark');
  updateParticleOpacity(isDarkMode);

  const observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
      if (mutation.attributeName === "class") {
        const isDarkMode = document.documentElement.classList.contains('dark');
        updateParticleOpacity(isDarkMode);
      }
    });
  });

  observer.observe(document.documentElement, {attributes: true});
});
    </script>

