{% for post in posts %}

<div class="space-y-6">
    <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow mb-2" id="post-{{ post.id }}">
        <div class="flex items-center justify-between mb-4">
            <div class="flex items-center space-x-2">
                <img src="{{ post.user_pic|default:'https://via.placeholder.com/150' }}" alt="User" class="rounded-full" style="width: 25px;">
                <div class="flex flex-row items-center space-x-2">
                    <a href="{% url 'profile' post.user.username %}">
                        <h4 class="font-semibold">@{{ post.user.username }}</h4>
                    </a>
                    
                    <div class="flex items-center text-sm text-gray-500">
                        <span class="bullet mx-1">•</span>
                        <p id="post-date-{{ post.id }}" data-created-at="{{ post.created_at|date:'c' }}"></p>
                    </div>
                </div>
            </div>
            <button class="text-gray-400 hover:text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12h12M6 6h12M6 18h12"/>
                </svg>
            </button>
        </div>
        
        <div class="relative w-full flex items-center justify-start p-5">
            <p class="text-left font-bold text-lg drop-shadow-md overflow-hidden select-none" data-caption="{{ post.caption }}">
                <span id="post_content" class="line-clamp-3">
                    {% for word in post.caption.split %}
                        {% if word|slice:"0:1" == '@' %}
                            {% with username=word|slice:"1:" %}
                                <a href="{% url 'profile' username=username %}" class="text-blue-500 hover:text-blue-700 underline cursor-pointer">@{{ username }}</a>
                            {% endwith %}
                        {% elif word|slice:"0:1" == '#' %}
                            {% with tagname=word|slice:"1:" %}
                                <a href="{% url 'hashtag' tagname=tagname %}" class="text-blue-500 hover:text-blue-700 underline cursor-pointer">#{{ tagname }}</a>
                            {% endwith %}
                        {% else %}
                            {{ word }}
                        {% endif %}
                    {% endfor %}
                </span>
                
            </p>
        </div>
        <!-- Enhanced Image Carousel -->
        <div class="relative mt-4">
            {% if post.images.count > 1 %}
            <button class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 z-10" data-carousel-prev="{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <button class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 z-10" data-carousel-next="{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
            {% endif %}

            <div class="overflow-hidden">
                <div class="flex transition-transform duration-500 ease-in-out" data-carousel="{{ post.id }}">
                    {% for image in post.images.all %}
                    <div class="w-full flex-shrink-0">
                        <div class="relative pb-[100%]">
                            <img src="{{ image.signed_url }}" alt="Post Image" class="absolute inset-0 w-full h-full object-cover" onerror="this.style.display='none';">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Dots Indicator -->
            <div class="flex justify-center mt-2">
                {% for image in post.images.all %}
                <div class="w-2 h-2 bg-gray-400 rounded-full mx-1 {{ forloop.first|yesno:'bg-gray-800, ' }}" data-carousel-dot="{{ post.id }}"></div>
                {% endfor %}
            </div>
        </div>
        
<hr class="border-gray-300 dark:border-gray-700">


    <!-- Like, Share, and Save buttons -->
    <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-4">
            <button class="like-button flex items-center space-x-2 {% if post.is_liked %}text-red-600{% else %}text-gray-600 dark:text-gray-200{% endif %} hover:text-gray-900" data-post-id="{{ post.post_id }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="{% if post.is_liked %}currentColor{% else %}none{% endif %}" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
                <span class="like-count pr-1">{{ post.like_set.count }}</span>
            </button>
            <button onclick="openCommentModal('{{ post.id }}')" class="flex items-center space-x-2 text-gray-600 dark:text-gray-200 hover:text-indigo-500 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                </svg>
                <!-- <span>Comment</span> -->
            </button>

        </div>
        <button class="save-button flex items-center space-x-2 {% if post.is_saved %}text-indigo-600{% else %}text-gray-600 dark:text-gray-200{% endif %} hover:text-gray-900" data-post-id="{{ post.post_id }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="{% if post.is_saved %}currentColor{% else %}none{% endif %}" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
            </svg>
            <span class="save-count pr-1">{{ post.save_set.count }}</span>
        </button>
    </div>

        
        <!-- Comments Section -->
        {% include 'comment_section.html' %}
    </div>
</div>



 {% endfor %}